body{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  height:100vh;
}




html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}
canvas {
  display: block;
}
